body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Text input field */
textarea {
  background: transparent;
  border: none;
  color: #000000;
  border-left: 1px solid black;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Header Style */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Color Block behind text entry  */
.description {
  white-space: pre-wrap;
  background-color: #d3d3d3;
  height: 80px;
}

/* Entire row */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin: 1px;
}

/* hour column */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  align-items: right;
  padding: 25px 10px;
  text-align: right;
}

/* save button column */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  height: 80px;
  cursor: pointer;
}

/* Lock icon */
img {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 18px;
  z-index: 1;
}

img:hover {
  background-image: url("../../Assets/lock_blk.svg");
  z-index: 2;
}

/* Styling on the date time */
#currentDay {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 26pt;
  color: #44455a;
  margin-top: 60px;
}

table {
  margin: 80px auto 120px auto;
}
